.History {
    font-size: 30px;
    margin-left: 200px;
    margin-right: 200px;
}
.h1 {
    font-size: 100px;
}
.foto{
    object-position:center;
    margin-left:100px;
}
.h2 {
    font-size: 50px;

}