.MainContainerBooking {
    background: #e6e2e7;
    display: flex;
    justify-content: center;
    height: auto;
}

.CenteredContainer {
    margin: 20px 0;
    width: 65%;
    display: flex;
    flex-flow: row wrap;
}

/* MAIN CONTAINER */

.BorderMainBlock {
    border: 1px solid #C3C6CA;
    border-radius: 4px;
    width: 65%;
    margin-right: 2%;
    height: auto;
    margin-bottom: 20px;
    max-height: 600px;
}
.MainBlock{
    display: flex;
    flex-flow: column wrap;
    margin: 20px 20px;
}

.HeaderBlock{
    display: flex;
    flex-flow: row wrap;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 40px;
    font-size: 20px;
}

.MethodContainer {
    padding-left: 10px;
    border: 1px solid #C3C6CA;
    border-radius: 4px;
    width: 50%;
    margin-bottom: 20px;
}

.PaymentMethodOption {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    padding: 5px 5px;
    border: none;
    margin-bottom: 10px;
    background: transparent;
    cursor: pointer;
}

.PaymentMethodLabel{
    display: block;
    margin: 10px 10px;
    font-size: 16px;
}

.CardImages{
    margin-bottom: 20px;
    width: 25%;
    display: flex;
    flex-flow: row nowrap;
    opacity: 0.7;
}

.cardImg{
    width: 40px;
    border-radius: 2px;
    margin-right: 5px;
}

.PaymentForm{
    display: flex;
    flex-flow: row wrap;
}

.Block {
    display: flex;
    flex-flow: column wrap;
    width: 47%;
    margin-right: 3%;
    margin-bottom: 10px;
}

.Validator {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    margin-top: -1.5px;
    padding-top: 5px;
    background: #BE0000;
    color: white;
    padding: 5px 15px;
    border: 1px solid #BE0000;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.Validator:active{
    background:blue;
}

.PaymentTextBox {
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    padding: 15px 15px;
    border: 1px solid #C3C6CA;
    border-radius: 4px;
}

.PaymentTextBox:hover{
    border: 1px solid black;
    cursor: default;
}

.PaymentTextBox:focus {
    background: rgba(227, 228, 229, 0.9);
    cursor: text;
}

.PaymentButton {
    margin-top: 100px;
    margin-left: 37.5%;
    width: 25%;
    font-size: 16px;
    color: white;
    border: 2px solid #0e170d;
    line-height: 38px;
    padding: 0px 40px;
    background: #0e170d;
    transition: .5s ease all;
    letter-spacing: 3px;
    border-radius: 4px;
    font-weight: bold;
    cursor:pointer;
}



/* ASIDE */
.BookingResume {
    background: #f2f2f2;
    width: 33%;
    height: auto;
    border: 1px solid #C3C6CA;
    border-radius: 4px;
}

.BookingSumLabel {
    font-size: 22px;
    margin-bottom: -15px;
}

.FechasBlock{
    display: flex;
    flex-flow: row wrap;
    
}

.DateBlock{
    display: flex;
    flex-flow: column wrap;
    margin-right: 60px;
}

.LabelDateBlock {
    margin-bottom: 3px;
    font-weight: bold;
}

.separator{
    white-space: pre-line;
    opacity: 0.5;
}

.grid {
    left: 3px;
}

.GridButton{
    text-transform: uppercase;
    border: none;
    background: transparent;
    cursor: pointer;
}

.TotalPrice{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 30px;
}

.LabelTotal{
    font-size: 20px;
    font-weight: bold;
}

