/* ##### MAIN ######*/

.Main {
    height: 4000px;
    background-image: url(../assets/6.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.Main .EntryLabel {
    position: relative;
    font-size: 90px;
    font-weight: normal;
    top: 300px;
    left: 41%;
    color: white;
    font-family: 'IM Fell Double Pica', serif;
}

/* 2nd PART */
.Comments {
    position: relative;
    top: 800px;
    height: 1000px;
    /*background: rgba(255,255,255,0.7);*/
    background: transparent; /*ESTE ES DE PRUEBA*/
    display: flex;
    justify-content: center;
}

.CommentsLabels {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.HotelName {
    margin-top: 25px;
    letter-spacing: 5px;
}

.Reason {
    font-family: 'IM Fell Double Pica', serif;
    font-size: 34px;
    letter-spacing: 5px;
}

.Comments img {
    margin-top: 70px;
    height: 80px;
}

.Comments .ReasonParagraph {
    max-width:100%;
    font-weight: bold;
    margin: 80px 0;
    margin-left: -3500px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    max-width: 80%;
    -webkit-transition: margin-left 1.2s;
}

.Comments:hover .ReasonParagraph {
    margin-left: 0;
    -webkit-transition: margin-left 1.2s;
}

.CommentsLessOpacity {
    width: 80%;
    height: 1000px;
    background: rgba(255,255,255,0.9);
}

.ZidaneOpinion {
    font-size: 20px;
    background: #E1F0EB;
    height: 200px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 0px 70px;
    box-shadow: 0px 0px 23px 4px rgba(0,0,0,0.77);
    margin-left: -3500px;
    -webkit-transition: margin-left 1.2s;
}

.Comments:hover .ZidaneOpinion {
    margin-left: 0;
    -webkit-transition: margin-left 1.8s;
}

.OpinionLabel {
    font-style: italic;
}

.ZidaneContainer {
    margin-top: 15px;
}

.ZidaneLabel {
    font-weight: bold;
}

/* PARADISE CONTAINTER */

.ParadiseContainer {
    height: 50px;
    line-height: 50px;
    font-family: 'IM Fell Double Pica', serif;
    /*background: #51A98B;*/
    background: rgba(159,227,204,1);
    color: black;
    position: relative;
    top: 800px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}