.pack {
    background-color: rgba(225, 240, 235, 0.5);
    color: black;
    font-size: 25px;
    position: relative;
    background-size: cover;
    display: flex;
    border: white 2px solid;
    width: 100%;
    height: 100%;
}

.image {
    max-width: 475px;
    max-height: 375px;
}

.desc {
    transition: .5s ease;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 69px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:azure;
}

.pack:hover .overlay {
    opacity: 0.95;
}

.text {
    text-align: center;
    margin-top: 140px;
    font-size: 80px;
}
