
.backgroundR {
    height: 1500px;
    background-image: url(../assets/restaurant2.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.Menu {
    text-align: center;
    position: relative;
    top: 60px;
    float: left;
    display: flex;
    width: 33.33%;
}

.MenuAdmin {
    text-align: center;
    position:relative;
    display:flex;
    float: left;
    margin-top: 110px;
    display: flex;
    width: 33.33%;
}


.MenuButton {
    text-align: center;
    float: left;
    width: 100%;
    background: #515654;
    color: white;
    display: flex;
    font-weight: bold;
    padding: 15px 5px 18px 130px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: .5s ease all;
}

.Menu:hover .MenuButton {
    background-color: white;
    color: #515654;
}

.MenuAdmin:hover .MenuButton {
    background-color: white;
    color: #515654;
}

.RestaurantTitle {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    width: 100%;
    white-space:pre-line;
}

.subTitle {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    width: 100%;
}

.Meal {
    text-align: center;
    font-size: 20px;
    width: 100%;
    heigth: 100%;
    white-space: pre-line;
    position:relative;
}

.blurryBackground {
    position: relative;
    top: 110px;
    width: 100%;    
    background: rgba(255,255,255,0.9);
}

.plainBackground {
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    max-width: 80%;
    width: 80%;
    background-color: white;
}

.adminBox {
    margin-left: 10%;
    width: 80%;
    background-color: white;
    top: 110px;
    height: 400px;
}

.adminTextBoxes {
    font-size: 20px;
    position: relative;
    margin: 10% 10% 1% 10%;
    background-color: white;
    top: 55px;
    white-space: pre-line;
    /*height: 400px;*/
}

.Create {
    position: relative;
    display: inline-block;
    left: 100%;
    top: 25%;
    transform: translate(-130%, -150%);
}

    .Create:hover .AdminButton {
        cursor: pointer;
        background: #515654;
        color: white;
        transition: .5s ease all;
    }

.AdminButton {
    border: 2px solid #515654;
    line-height: 21px;
    padding: 0 14px;
    background: transparent;
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: .5s ease all;
}