
.background {
    background-image: url(../assets/6.jpg);
    height: 4800px;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.webBorder {
    position: absolute;
    height: 4090px;
    top: 0%;
    margin-top: calc(241px + 12.5%);
    left: 1%;
    width: 18.3454%;
}

.webBorder2 {
    top: 0%;
    right: 1%;
    position: absolute;
    margin-top: calc(241px + 12.5%);
    height: 4090px;
    width: 18.3454%;
}

.filterBox {
    position: sticky;
    top: 10%;
    background-color: white;
    height: 8%;
    box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.orderBox {
    position: sticky;
    top: 10%;
    background-color: white;
    min-height: 8%;
    box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    max-height: 8%;
/*    overflow-x: hidden; 
    overflow-y: auto;*/
}

.blurryBackground {
    left: 25%;
    max-height: 4000px;
    margin-top: 12.5%;
    width: 50%;
    background: rgba(255,255,255,0.9);
    position: absolute;
}

.search {
    position: absolute;
    display: inline-block;
    left: 100%;
    top: 100%;
    transform: translate(-130%, -150%);
}

.searchButton {
    border: 2px solid #515654;
    line-height: 21px;
    padding: 0 14px;
    background: transparent;
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: .5s ease all;
}

.search:hover .searchButton {
    cursor: pointer;
    background: #515654;
    color: white;
    transition: .5s ease all;
}

.selectionLabel {
    background: #515654;
    color: white;
    font-weight: bold;
    padding: 7%;
    font-size: 100%;
}

.goContainer {
    position: absolute;
    display: inline-block;
    width: 20%;
    height: 5%;
    top: 100%;
    left: 100%;
    transform: translate(-140%, -219%);
}

.go {
    position: absolute;
    display: inline-block;
    margin-bottom: 4%;
}

.go:hover .searchButton {
    cursor: pointer;
    background: #515654;
    color: white;
    transition: .5s ease all;
}

.textInside{
    white-space:pre-line;
    background-color: white;
    /*position: relative;*/
    padding: 5%;
    width: 80%;
    height: 50%;
    margin: 0 10% 10% 10%;
}

.budget{
    border: none;
    width: 35px;
}

.slider{
    position:relative;
    width: 80%;
    top: 25%;
    left: 14%;
    z-index: 5;
}

.handle {
    box-shadow: none;
    background-image: url(../assets/6.jpg);
    background: #515654;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.room {
    position: relative;
    height: 100%; 
}

.grid {
    margin: 1%;
    border:none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    /*height: 3700px;*/
    width: 98%;
    max-height: 60px;
    background-color: white;
}

.gridContainer{
    max-height: 233px;
    position:relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.Informacion {
    padding: 3%;
    width: 70%;
    min-height: 100%;
    position:relative;
    display: inline-block;
    float: left;
    background-color: white;
}

.FotoContenedor {
    position: relative;
    display: inline-block;
    max-width: 30%;
    min-height: 220px;
    float: left;
    margin: auto;
    background-color:white;
    display:flex;
    align-items: center;
}

.resize:hover {
    transform: scale(1.5);
}

.resize {
    max-width: 100%;
    width: auto;
    height: auto;
    transition: 0.3s;
    z-index: 3;
}

.img {
    object-fit: contain;
}

.bottomBorder td {
    position:relative;
    border-color: transparent;
    border-bottom-width: 20px;
    box-shadow: 0 8px 6px 0 rgba(0,0,0,0.2), 0 6px 16px 0 rgba(0,0,0,0.19);
}

.titulo {
    font-weight: bold;
    font-size: large;
}

.field{
    font-weight:bold;
}

.add {
    position: relative;
    display: inline-block;
    right: 40%;
    margin-top: 25%;
}

.addButton {
    position: absolute;
    border: 2px solid #515654;
    line-height: 21px;
    padding: 0 14px;
    background: transparent;
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: .5s ease all;
}

    .addButton:hover {
        cursor: pointer;
        background: #515654;
        color: white;
        transition: .5s ease all;
    }


.imagen {
    max-width: 4%;
    max-height: 4%;
    z-index: 3;
}

.imagen2 {
   max-width: 23%;
   height: auto;

}

.emptyRow {
    height: 400px;
    background: rgba(255,255,255,0.9);
    display: flex;
    bottom: 1%;
    border-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.textWhenEmpty{
    margin: 1% 1% 1% 1%;
    position:relative;
    display:inline-block;
    top:0%;
    font-weight: bold;
}

.emptyRow2 {
    display: flex;
    bottom: 1%;
}

.invisible {
    display: none;
}

.visible{
    
}

.Room2 {
    text-align: center;
    position: relative;
    float: left;
    display: flex;
    width: 33.33%;
    z-index:2;
}

.RoomButton {
    text-align: center;
    float: left;
    width: 100%;
    background: #515654;
    color: white;
    display: flex;
    font-weight: bold;
    padding: 15px 5px 18px 27%;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: .5s ease all;
}

.Room2:hover .RoomButton {
    background-color: white;
    color: #515654;
}

.adminBox {
    left: 3.67%;
    top: 10%;
    padding-top: 5%;
    padding-bottom: 10%;
    white-space:pre-line;
    margin-left: 5%;
    position: relative;
    width: 80%;
    z-index:0;
/*    min-height: 550px;*/
}

.Validator {
    display: inline-block;
    background-color: lightcoral;
    padding: 4px 10px 4px 10px;
    border-radius: 4px;
    margin-left: 70%;
    position: absolute;
    margin-top: -5%;
}

.ValidatorRange {
    display: inline-block;
    background-color: lightcoral;
    padding: 4px 10px 4px 10px;
    margin-left: 70%;
    border-radius: 4px;
    position: absolute;
    margin-top: -8%;
}

.paginacion {
    border-color: white;
}

.slider{
    min-width: 80%;
}

/*.ajax__slider_h_rail {
    position: relative;
    height: 20px;
}

.ajax__slider_h_handle {
    position: absolute;
    height: 20px;
    width: 10px;
    background-color: #515654;
}

.ajax__slider_v_rail {
    position: relative;
    width: 20px;
}

.ajax__slider_v_handle {
    position: absolute;
    height: 10px;
    width: 20px;
    background-color: #515654;
}*/

.item {
    width: 50%;
    color: white;
    padding: 7.2% 10px;
    border: none;
    float: left;
    background-color: #515654;
    font-weight: bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    display: inline-block;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    transition: .5s ease all;
    border: none;
    outline: none;
    margin: 0 auto;
    overflow-wrap: break-word;
}

    .item:hover {
        cursor: pointer;
        background: white;
        color: #515654;
        transition: .5s ease all;
    }

.Create {
    position: absolute;
    display: inline-block;
    left: 110%;
    bottom: 8%;
    display:flex;
    transform: translate(-150%, -150%);
    z-index: 15;
}

    .Create:hover .AdminButton {
        cursor: pointer;
        background: #515654;
        color: white;
        transition: .5s ease all;
    }

.AdminButton {
    position:relative;
    border: 2px solid #515654;
    line-height: 21px;
    padding: 0 14px;
    background: transparent;
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: .5s ease all;
    z-index: 10;
}


.ErrorLabel {
    position: absolute;
    right: 0%;
    top: 79%;
    border: 2px solid #515654;
    line-height: 21px;
    padding: 0 14px;
    background-color: lightcoral;
    padding: 4px 10px 4px 10px;
    border-radius: 4px;
    border-color: transparent;
    transition: .5s ease all;
}

.SuccessLabel {
    position: absolute;
    right: 0%;
    top: 79%;
    border: 2px solid #515654;
    line-height: 21px;
    padding: 0 14px;
    background-color: rgb(142, 208, 14);
    padding: 4px 10px 4px 10px;
    border-radius: 4px;
    border-color: transparent;
    transition: .5s ease all;

}

.ddlstyle {
    height: 30px;
    width: 28%;
}

.repeated {
    position: absolute;
    top: 105%;
    border: 2px solid #515654;
    line-height: 21px;
    padding: 0 14px;
    background-color: lightcoral;
    padding: 4px 10px 4px 10px;
    border-radius: 4px;
    border-color: transparent;
    transition: .5s ease all;
}