
.background {
    background-image: url(../assets/6.jpg);
    height: 4250px;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.webBorder {
    position: absolute;
    height: 4090px;
    top: 0%;
    margin-top: calc(241px + 12.5%);
    left: 1%;
    width: 18.3454%;
}

.webBorder2 {
    top: 0%;
    right: 1%;
    position: absolute;
    margin-top: calc(241px + 12.5%);
    height: 4090px;
    width: 18.3454%;
}

.filterBox {
    position: sticky;
    top: 10%;
    background-color: white;
    height: 8%;
    box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.orderBox {
    position: sticky;
    top: 10%;
    background-color: white;
    min-height: 8%;
    box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    max-height: 8%;
    overflow-x: hidden; 
    overflow-y: auto;
}

.blurryBackground {
    left: 25%;
    height: 4000px;
    margin-top: 12.5%;
    width: 50%;
    background: rgba(255,255,255,0.9);
    position: absolute;
}



.dropbtn {
    justify-content:center;
    align-items:center;
    background: #515654;
    color: white;
    display: flex;
    flex-flow: row;
    font-weight: bold;
    margin: 0;
    padding: 20% 25% 20% 20%;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: .5s ease all;
    width:100%;
}

.search {
    position: absolute;
    display: inline-block;
    left: 100%;
    top: 100%;
    transform: translate(-130%, -150%);
}
.searchButton {
    border: 2px solid #515654;
    line-height: 21px;
    padding: 0 14px;
    background: transparent;
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: .5s ease all;
}

.search:hover .searchButton {
    cursor: pointer;
    background: #515654;
    color: white;
    transition: .5s ease all;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    float: left;
    position: relative;
    display: inline-block;
    width: 33.33%;
    transition: visibility 0s, opacity 0.2s linear;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: block;
    visibility: hidden;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
}

    .dropdown-content .dropdown-Buttons {
        color: black;
        padding: 15px 16px;
        border: none;
        text-decoration: none;
        background-color: transparent;
        position: relative;
        width: 100%;
        display: block;
        font-size: 16px;
        font-family: 'Karla', sans-serif;
        transition: .5s ease all;
    }


.dropdown-content .dropdown-Buttons:hover {
    cursor: pointer;
    background: #515654;
    color: white;
    transition: .5s ease all;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {

    visibility: visible;
    opacity: 1;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: transparent;
    color: #515654;
}

.selectionLabel {
    background: #515654;
    color: white;
    font-weight: bold;
    padding: 7%;
    font-size: 100%;
}

.GoContainer {
    position:relative;
    display: inline;
    bottom: 15%;
    right: 2%;
    width:100%;
}
.Go {
    position: absolute;
    display: inline-block;
    left: 70%;
    bottom: 50%;
}

.Go:hover .searchButton {
    cursor: pointer;
    background: #515654;
    color: white;
    transition: .5s ease all;
}

.textInside{
    white-space:pre-line;
    background-color: white;
    /*position: relative;*/
    padding: 5%;
    width: 80%;
    height: 50%;
    margin: 0 10% 10% 10%;
}

.slider{
    width: 80%;
    margin: 30% 10% 0 10%;
    z-index: 5;
}

.handle {
    box-shadow: none;
    background-image: url(../assets/6.jpg);
    background: #515654;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}


.room {
    position: relative;
    height: 100%;
    background-color:blue;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.grid {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    /*height: 3700px;*/
    width: 98%;
    max-height: 60px;
    background-color: white;
}

.gridContainer{
    position:relative;
    margin-bottom: 15%;
}
.Informacion {
    padding: 3%;
    width: 70%;
    min-height: 100%;
    position:relative;
    display: inline-block;
    float: left;
    background-color: white;
}

.FotoContenedor {
    position: relative;
    display: inline-block;
    max-width: 30%;
    min-height: 220px;
    float: left;
    margin: auto;
    background-color:white;
    display:flex;
    align-items: center;
}

.resize:hover {
    transform: scale(1.5);
}

.resize {
    max-width: 100%;
    width: auto;
    height: auto;
    transition: 0.3s;
}

.img {
    object-fit: contain;
}

.bottomBorder td {
    position:relative;
    border-color: transparent;
    border-bottom-width: 20px;
    box-shadow: 0 8px 6px 0 rgba(0,0,0,0.2), 0 6px 16px 0 rgba(0,0,0,0.19);
}

.titulo {
    font-weight: bold;
    font-size: large;
}

.field{
    font-weight:bold;
}

.iconoHidden {
    display:none
}

.icono {
    position: relative;
    left: 94%;
    display: inline-block;
}


.add {
    position: absolute;
    display: inline-block;
    left: 85%;
    top: 80%;
}

.addButton {
    position: absolute;
    border: 2px solid #515654;
    line-height: 21px;
    padding: 0 14px;
    background: transparent;
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: .5s ease all;
}

    .addButton:hover {
        cursor: pointer;
        background: #515654;
        color: white;
        transition: .5s ease all;
    }


.imagen {
    max-width: 4%;
    max-height: 4%;
}

.ratingStar {
    position: relative;
    left: 80%;
    display: inline-block;
}

.StarCssClass {
    background-image: url(../assets/ratings.png);
}

.imagen2 {
   max-width: 23%;
   height: auto;
}



