/*Spa & Gym page*/

.infospa{

}

.PiscinaSpa{

}

.reserva {
    margin: 0 10px 0 10px;
    border: 1px solid #515654;
    line-height: 21px;
    padding: 0 10px;
    background: transparent;
    border-radius: 3px;
    font-weight: bold;
    transition: .5s ease all;
}

.JacSpa {

}

.SpaMas{

}

.TratSpa{

}

.GymOut{

}

.GymPool{

}

.GymPesas{

}

.GymMaquinas{

}

