/*Spa & Gym page*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*Label*/
.infospa {
    margin: 50px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: .3s ease all;
    align-content: center;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.infospa2 {
    margin: 10px 10px 10px 900px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: .3s ease all;
    align-content: center;
    align-items: center;
    justify-content: center;
    align-self: center;
}

/*Foto*/
.PiscinaSpa{
    width:fit-content();
    height:fit-content();
}

/*Botón*/
.reserva {
    margin: 10px 10px 10px 900px;
    border: 3px solid #515654;
    line-height: 21px;
    padding: 10px 20px;
    background: center;
    border-radius: 5px;
    font-weight: bold;
    align-self: center;
    align-items: center;
}

/*Labels*/

/*Fotos*/
.JacSpa {
    margin: 10px 10px 10px 900px;
}

.SpaMas {
    margin: 10px 0 10px 50px;
    width: fit-content();
    height: fit-content();
}

.TratSpa {
    width: fit-content();
    height: fit-content();
}

.GymOut {
    width: fit-content();
    height: fit-content();
}

.GymPool {
    width: fit-content();
    height: fit-content();
}

.GymPesas {
    width: fit-content();
    height: fit-content();
}

.GymMaquinas {
    width: fit-content();
    height: fit-content();
}

